[submodule "lib/openzeppelin-contracts"]
	path = lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "lib/v3-core"]
	path = lib/v3-core
	url = https://github.com/Uniswap/v3-core
[submodule "lib/v3-periphery"]
	path = lib/v3-periphery
	url = https://github.com/Uniswap/v3-periphery
[submodule "foundry/lib/forge-std"]
	path = foundry/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "foundry/lib/openzeppelin-contracts"]
	path = foundry/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "hardhat/lib/forge-std"]
	path = hardhat/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "hardhat/lib/openzeppelin-contracts-upgradeable"]
	path = hardhat/lib/openzeppelin-contracts-upgradeable
	url = https://github.com/OpenZeppelin/openzeppelin-contracts-upgradeable
[submodule "hardhat/lib/openzeppelin-contracts"]
	path = hardhat/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
